@font-face {
  font-family: xirod;
  src: url(../fonts/xirod.ttf);
}
@font-face {
  font-family: etg;
  src: url(../fonts/EnterTheGrid.otf);
}
@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: ArialBlack;
  src: url(../fonts/ARIBLK.TTF);
}
:root {
  --primary-color: #232323;
  --second-color: #ffd00a;
}

html,
body {
  background-color: var(--primary-color);
  height: -moz-fit-content;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

img {
  width: 100%;
  height: 100%;
}

button:hover {
  filter: brightness(2);
}

.contact-btn {
  position: fixed;
  z-index: 999;
  bottom: 10%;
  right: 10px;
  display: grid;
  gap: 10px;
}
.contact-btn .btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 10px;
}
.contact-btn .btn img {
  -o-object-fit: contain;
     object-fit: contain;
}

.QR {
  width: 27%;
  position: absolute;
  right: 1.5vw;
  padding: 5px;
  background-color: white;
  z-index: 99;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
.QR::before {
  content: "view portfolio";
  top: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  text-wrap: nowrap;
}

.container {
  background-color: var(--primary-color);
  max-width: 450px;
  box-sizing: border-box;
  min-width: 350px;
  margin: auto;
  padding: 40px 25px;
  position: relative;
  overflow-y: hidden;
}
.container .texture {
  position: absolute;
  z-index: 30;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/texture.webp);
  background-size: cover;
  mix-blend-mode: luminosity;
  pointer-events: none;
  transition: all 0.6s ease;
  opacity: 1;
}
.container .exp-skill-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}
.container .exp-skill-wrapper #back {
  width: 60px;
  height: 20px;
  border: none;
  background-color: var(--second-color);
  cursor: pointer;
  position: absolute;
  z-index: 99;
  animation: shinning 1.6s ease-in-out infinite;
  text-transform: uppercase;
}
@keyframes shinning {
  0%, 20%, 70% {
    filter: brightness(1);
  }
  40%, 50% {
    filter: brightness(1.5);
  }
}
.container .experience-container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 200px;
  background-color: white;
  z-index: 20;
  text-align: center;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.6s ease;
}
.container .experience-container .exp-title {
  font-size: 16px;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--second-color);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 20px;
  letter-spacing: 2px;
}
.container .experience-container .date-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
}
.container .experience-container .date-wrapper .date span {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  font-family: ArialBlack;
  letter-spacing: 0px;
}
.container .experience-container .date-wrapper .date {
  font-family: etg;
  letter-spacing: 1.5px;
}
.container .experience-container .date-wrapper .arrow-icon {
  padding: 20px;
  width: 30px;
  height: 20px;
}
.container .experience-container .desciption {
  padding-bottom: 20px;
  position: relative;
  width: 90%;
  margin: auto;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
  color: rgb(81, 81, 81);
  margin-bottom: 20px;
}
.container .experience-container .desciption span {
  display: block;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}
.container .experience-container .experience {
  position: relative;
}
.container .experience-container .experience::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 40%;
  height: 1px;
  background-color: gray;
}
.container .experience-container .experience:nth-child(4)::after {
  content: "";
  display: none;
}
.container .skill-container {
  position: absolute;
  z-index: 20;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  top: 200px;
  left: 0;
  color: white;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  opacity: 0;
  transition: all 0.6s ease;
}
.container .skill-container .skill-wrapper {
  border: 1px solid gray;
  position: relative;
  max-height: 680px;
}
.container .skill-container .skill-wrapper::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background-color: white;
  top: 0;
  left: 0;
}
.container .skill-container .skill-wrapper::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  background-color: white;
  bottom: 0;
  right: 0;
}
.container .skill-container .skill-title {
  font-size: 18px;
  text-align: center;
  margin: 20px auto 20px;
}
.container .skill-container .skill-set-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 0px;
  position: relative;
}
.container .skill-container .skill-set-wrapper::after {
  content: "";
  height: 1px;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: gray;
}
.container .skill-container .skill-set-wrapper .skill-set {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 70px;
  align-items: start;
}
.container .skill-container .skill-set-wrapper .skill-set .skill-set-icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30%;
  opacity: 1;
  transition: all 0.6s ease;
  transform: scale(0);
}
.container .skill-container .skill-set-wrapper .skill-set .skill-set-icon-wrapper .skill-set-icon {
  background-color: var(--primary-color);
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.container .skill-container .skill-set-wrapper .skill-set .skill-set-icon-wrapper .skill-set-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .skill-container .skill-set-wrapper .skill-set .skill-set-icon-wrapper .skill-set-mask {
  width: 40px;
  height: 40px;
  padding: 2px;
  position: relative;
  background-color: gray;
  border-radius: 7px;
  overflow: hidden;
}
.container .skill-container .skill-set-wrapper .skill-set .skill-set-icon-wrapper .skill-set-mask .mask {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--second-color);
  transition: all 2s 0.6s ease;
}
.container .skill-container .skill-set-wrapper .skill-set .skill-set-description {
  width: 60%;
  color: rgb(196, 196, 196);
  font-size: 0.6em;
  margin-left: 5px;
  animation: moving 1.2s ease;
}
@keyframes moving {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.container .skill-container .skill-set-wrapper .skill-set .skill-set-description .percentage {
  color: var(--second-color);
  font-size: 16px;
  font-family: etg;
}
.container .skill-container .skill-set-wrapper .skill-set .skill-set-description span {
  color: white;
}
.container .skill-container .software-proficiency-wrapper .software-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
  width: 60%;
  min-width: 200px;
  justify-content: center;
  padding-bottom: 50px;
  position: relative;
}
.container .skill-container .software-proficiency-wrapper .software-wrapper .software {
  width: 30%;
  aspect-ratio: 1/1;
  border: 1px solid gray;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease;
}
.container .skill-container .software-proficiency-wrapper .software-wrapper .software.active {
  filter: brightness(2);
  background-color: white;
}
.container .skill-container .software-proficiency-wrapper .software-wrapper .software img {
  width: 80%;
  height: auto;
}
.container .skill-container .interest-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}
.container .skill-container .interest-wrapper .interests-icon {
  background-color: white;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
}
.container .skill-container .interest-wrapper .interests-icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
.container .slogan {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%) scale(-1);
  color: #a4a4a4;
  white-space: nowrap;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 12px;
  z-index: 999;
}
.container .title-wrapper {
  color: var(--second-color);
  font-family: ArialBlack;
  text-transform: uppercase;
  font-size: 18px;
}
.container .title-wrapper span {
  color: #c6c5c5;
  padding-left: 5px;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
}
.container .title-wrapper .text {
  font-family: xirod;
  font-size: 30px;
}
.container .intro-holder {
  background-color: var(--second-color);
  margin-top: 16px;
  padding: 30px 20px 30px 20px;
  position: relative;
}
.container .intro-holder::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 100%;
  height: 10px;
  border-top: 14px dotted var(--primary-color);
}
.container .intro-holder .intro {
  height: 620px;
  position: relative;
}
.container .intro-holder .intro-wrapper {
  position: relative;
  padding-bottom: 10px;
}
.container .intro-holder .intro-wrapper:first-of-type::after {
  content: "";
  height: 40px;
  width: 40px;
  right: -40px;
  bottom: -20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}
.container .intro-holder .intro-wrapper:first-of-type::before {
  content: "";
  height: 40px;
  width: 40px;
  left: -40px;
  bottom: -20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}
.container .title {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  font-size: 21px;
  text-transform: uppercase;
  font-family: etg;
  letter-spacing: 1px;
}
.container .title p {
  transform-origin: left;
  transform: scaleX(1.1);
}
.container .title::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-bottom: 2px dotted black;
  width: 100%;
  bottom: 0;
  left: 0;
}
.container .section {
  padding: 15px;
  border-left: 2px solid var(--primary-color);
  margin: 10px 0px;
}
.container .section .name-wrapper {
  height: 60px;
  position: relative;
  white-space: nowrap;
}
.container .section .name-wrapper::after {
  content: "personal information";
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3.8px;
  position: absolute;
  bottom: 0;
}
.container .section .name {
  /* Ensures the content is not revealed until the animation */
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--second-color);
  }
}
.container .section .name p {
  font-size: 36px;
  font-family: Anton;
  text-transform: uppercase;
  letter-spacing: 0px;
  transform: skewX(-5deg) scaleX(1.2);
  transform-origin: left;
}
.container .section .name p .space {
  font-size: 20px;
}
.container .section .name p .surname {
  letter-spacing: 2px;
  color: var(--second-color);
  paint-order: stroke fill;
  -webkit-text-fill-color: var(--second-color);
  -webkit-text-stroke: 4px black;
}
.container .section .info-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}
.container .section .info-wrapper .my-info {
  position: relative;
  width: 50%;
  display: block;
  margin-top: 20px;
  font-weight: bold;
  text-wrap: nowrap;
  font-size: 14px;
  line-height: 20px;
}
.container .section .info-wrapper .my-info:nth-child(1)::before {
  font-family: ArialBlack;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  padding: 1px 60px 1px 10px;
  margin-bottom: 5px;
  font-size: 100%;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--primary-color);
  color: var(--second-color);
  content: "Birth";
  text-transform: uppercase;
}
.container .section .info-wrapper .my-info:nth-child(2)::before {
  font-family: ArialBlack;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  padding: 1px 60px 1px 10px;
  margin-bottom: 5px;
  font-size: 100%;
  background-color: var(--primary-color);
  color: var(--second-color);
  content: "Nationality";
  text-transform: uppercase;
}
.container .section .info-wrapper .my-info:nth-child(3)::before {
  font-family: ArialBlack;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  padding: 1px 60px 1px 10px;
  margin-bottom: 5px;
  font-size: 100%;
  background-color: var(--primary-color);
  color: var(--second-color);
  content: "Contact";
  text-transform: uppercase;
}
.container .introduction-section {
  background-color: white;
  padding: 20px 20px 10px 20px;
  text-align: center;
  margin-top: 24px;
  position: relative;
}
.container .introduction-section::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-bottom: 2px dotted black;
  width: 90%;
  transform: translateX(-50%);
  top: -26px;
  left: 50%;
}
.container .introduction-section .intro-title-wrapper {
  font-size: 21px;
  position: relative;
  font-family: etg;
  letter-spacing: 2px;
}
.container .introduction-section .intro-title-wrapper::after {
  display: block;
  position: relative;
  content: "Multimedia Designer";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  top: 5px;
  padding: 5px 20px;
  background-color: var(--second-color);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.container .introduction-section p {
  margin: 5%;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}
.container .button-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  bottom: 0;
}
.container .button-holder button {
  width: calc(48% - 5px);
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid gray;
}
.container .button-holder #experience-skills {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}
.container .button-holder #portfolio {
  background-color: var(--primary-color);
  border: 3px solid var(--primary-color);
  color: white;
}
.container .button-holder-2 {
  width: 100%;
  margin: auto;
  position: absolute;
  z-index: 99;
  display: flex;
  gap: 15px;
  bottom: 20px;
  left: 0;
  padding: 0px 20px;
  box-sizing: border-box;
  justify-content: center;
}
.container .button-holder-2 button {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid gray;
  background-color: var(--primary-color);
  color: lightgray;
}
.container .button-holder-2 #portfolio {
  background-color: var(--second-color);
  color: black;
}
.container .button-holder-2 #skill-set,
.container .button-holder-2 #experience {
  z-index: 99;
  bottom: 0;
}

@media only screen and (max-width: 400px) {
  .container {
    max-width: 100vw;
    box-sizing: border-box;
  }
}/*# sourceMappingURL=index.css.map */