@font-face {
  font-family: xirod;
  src: url(../fonts/xirod.ttf);
}

@font-face {
  font-family: etg;
  src: url(../fonts/EnterTheGrid.otf);
}

@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: ArialBlack;
  src: url(../fonts/ARIBLK.TTF);
}

:root {
  --primary-color: #232323;
  --second-color: #ffd00a;
}

html,
body {
  background-color: var(--primary-color);
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button:hover {
  filter: brightness(2);
}

.contact-btn {
  position: fixed;
  z-index: 100;
  bottom: 16%;
  right: 10px;
  display: grid;
  gap: 10px;

  .btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffffffd1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: 10px;

    img {
      object-fit: contain;
    }
  }
}

.QR {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 3em;
  right: 1em;
  padding: 5px;
  background-color: white;
  z-index: 99;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

  &::before {
    content: "view portfolio";
    top: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    text-wrap: nowrap;
  }
}

.container {
  background-color: var(--primary-color);
  max-width: 400px;
  // height: 100vh;
  margin: auto;
  padding: 1.6em;
  position: relative;
  overflow: hidden;

  .texture {
    position: absolute;
    z-index: 30;
    height: 100%;
    width: 100%;
    // background-color: rgb(91, 91, 91);
    top: 0;
    left: 0;
    background-image: url(../images/texture.png);
    background-size: 180%;
    background-position-x: -320px;
    mix-blend-mode: luminosity;
    pointer-events: none;
    transition: all 0.6s ease;
    opacity: 0.8;
  }

  .exp-skill-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;

    #back {
      width: 60px;
      height: 20px;
      border: none;
      // clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
      background-color: var(--second-color);
      // border-radius: 12px;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      animation: shinning 3s ease-in-out infinite;
      text-transform: uppercase;
    }

    @keyframes shinning {
      0%,
      5%,
      15%,
      25% {
        filter: brightness(1);
      }

      10%,
      20% {
        filter: brightness(1.5);
      }
    }
  }

  .experience-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 20;
    text-align: center;
    display: flex;
    opacity: 0;
    // align-items: center;
    justify-content: center;
    padding: 0.6em;
    box-sizing: border-box;
    transition: all 0.6s ease;

    .exp-title {
      font-size: 16px;
      margin: auto;
      width: fit-content;
      background-color: var(--second-color);
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 5px 20px;
      margin-bottom: 20px;
      margin-top: 50px;
      letter-spacing: 2px;
    }

    .date-wrapper {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-size: 1.8em;

      .date {
        span {
          display: block;
          font-size: 9px;
          text-transform: uppercase;
          font-family: ArialBlack;
          letter-spacing: 0px;
        }

        font-family: etg;
        letter-spacing: 2px;
      }

      .arrow-icon {
        padding: 0px 0.6em;
        margin-top: 10px;
        box-sizing: content-box;
        width: 30px;
        height: 20px;
      }
    }

    .desciption {
      padding-bottom: 20px;
      position: relative;
      width: 90%;
      font-size: 0.95em;
      margin: auto;
      text-align: justify;
      text-align-last: center;
      color: rgb(81, 81, 81);
      margin-bottom: 20px;
      // word-break: break-all;
      hyphens: auto;

      span {
        display: block;
        font-weight: bold;
        color: black;
        margin-bottom: 2px;
      }
    }

    .experience {
      position: relative;
      top: 0;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 40%;
        height: 1px;
        background-color: gray;
      }

      &:nth-child(4)::after {
        content: "";
        display: none;
      }
    }
  }

  .skill-container {
    position: absolute;
    z-index: 20;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    top: 200px;
    left: 0;
    color: white;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    opacity: 0;
    transition: all 0.6s ease;

    .skill-wrapper {
      border: 1px solid gray;
      position: relative;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
        background-color: white;
        top: 0;
        left: 0;
      }

      &::after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
        background-color: white;
        bottom: 0;
        right: 0;
      }

      .skill {
        .skill-title {
          font-size: 18px;
          text-align: center;
          margin: 60px auto 10px;
        }
      }
    }

    .skill-set-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      padding: 0.6em;
      box-sizing: border-box;
      padding-bottom: 0px;
      position: relative;

      &::after {
        content: "";
        height: 1px;
        width: 40%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: gray;
      }

      .skill-set {
        display: flex;
        flex-wrap: wrap;
        // padding: 10px 0px;
        width: 50%;
        height: 70px;
        align-items: start;

        .skill-set-icon-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 35%;
          opacity: 1;
          transition: all 0.6s ease;
          transform: scale(0);

          .skill-set-icon {
            background-color: var(--primary-color);
            position: absolute;
            z-index: 2;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            // box-sizing: content-box;

            img {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 50%;
              height: 50%;
              object-fit: contain;
            }
          }

          .skill-set-mask {
            width: 40px;
            height: 40px;
            padding: 2px;
            position: relative;
            background-color: gray;
            border-radius: 7px;
            overflow: hidden;
            box-sizing: content-box;

            .mask {
              position: absolute;
              z-index: 1;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0%;
              background-color: var(--second-color);
              transition: all 2s 0.6s ease;
            }
          }
        }

        .skill-set-description {
          width: 60%;
          color: rgb(196, 196, 196);
          font-size: 0.7em;
          margin-left: 5px;
          animation: moving 1.2s ease;
          hyphens: auto;

          @keyframes moving {
            from {
              transform: translateX(-20px);
              opacity: 0;
            }

            to {
              transform: translateX(0px);
              opacity: 1;
            }
          }

          .percentage {
            color: var(--second-color);
            font-size: 1.4em;
            font-family: etg;
          }

          span {
            color: white;
          }
        }
      }
    }

    .software-proficiency-wrapper {
      .skill-title {
        font-size: 18px;
        text-align: center;
        margin: 10px auto;
      }

      .software-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        gap: 0.6em;
        width: calc(60% - 1em);
        justify-content: center;
        padding-bottom: 20px;
        position: relative;

        // &::after {
        //     content: "";
        //     height: 1px;
        //     width: 40%;
        //     position: absolute;
        //     bottom: 0px;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     background-color: gray;
        // }

        .software {
          width: 30%;
          aspect-ratio: 1/1;
          border: 1px solid gray;
          padding: 10px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: all 1s ease;

          &.active {
            filter: brightness(2);
            background-color: white;
          }

          img {
            width: 80%;
            height: auto;
          }
        }
      }
    }

    .interest-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding-bottom: 30px;

      .interests-icon {
        background-color: white;
        width: 20px;
        height: 20px;
        padding: 10px;
        border-radius: 50%;

        img {
          object-fit: contain;
        }
      }
    }
  }

  .slogan {
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%) scale(-1);
    color: #a4a4a4;
    white-space: nowrap;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 0.7em;
    z-index: 50;
  }

  .title-wrapper {
    color: var(--second-color);
    font-family: ArialBlack;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 20px;

    span {
      color: #c6c5c5;
      padding-left: 5px;
      text-transform: none;
      font-family: Arial, Helvetica, sans-serif;
    }

    .text {
      margin-top: -2px;
      font-family: xirod;
      font-size: 1.6em;
    }
  }

  .intro-holder {
    background-color: var(--second-color);
    margin-top: 12px;
    padding: 2em 1em 3em 1em;
    position: relative;
    // overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      width: 100%;
      height: 10px;
      border-top: 14px dotted var(--primary-color);
    }

    .intro {
      // background-color: green;
      height: 100%;
      position: relative;
    }

    .intro-wrapper {
      position: relative;
      padding-bottom: 20px;

      &:first-of-type {
        &::after {
          content: "";
          height: 40px;
          width: 40px;
          right: -40px;
          bottom: -20px;
          background-color: var(--primary-color);
          border-radius: 50%;
          position: absolute;
          z-index: 10;
        }

        &::before {
          content: "";
          height: 40px;
          width: 40px;
          left: -40px;
          bottom: -20px;
          background-color: var(--primary-color);
          border-radius: 50%;
          position: absolute;
          z-index: 10;
        }
      }
    }
  }

  .title {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    font-size: 21px;
    text-transform: uppercase;
    font-family: etg;
    letter-spacing: 1px;

    p {
      transform-origin: left;
      transform: scaleX(1.1);
    }

    &::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      border-bottom: 2px dotted black;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  .section {
    padding: 1em;
    padding-right: 0;
    border-left: 2px solid var(--primary-color);
    margin: 10px 0px;

    .name-wrapper {
      height: 60px;
      position: relative;
      white-space: nowrap;

      &::after {
        content: "personal information";
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3.8px;
        // margin-top: -3.8px;
        position: absolute;
        bottom: 0;
        white-space: nowrap;
      }
    }

    .name {
      // animation: typing 4s steps(40, end) infinite, blink-caret .75s step-end infinite;
      // overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      // border-right: .15em solid rgb(255, 0, 0);
      // background-color: green;
      // padding-left: 5px;
      // margin-left: -5px;

      @keyframes typing {
        from {
          width: 0;
        }

        to {
          width: 100%;
        }
      }

      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }

        50% {
          border-color: var(--second-color);
        }
      }

      p {
        font-size: 2.6em;
        font-family: Anton;
        text-transform: uppercase;
        letter-spacing: 0px;
        transform: skewX(-5deg) scaleX(1.2);
        transform-origin: left;

        .space {
          font-size: 0.5em;
        }

        .surname {
          text-shadow:
            -1.6px -1.6px 0 #000,
            1.6px -1.6px 0 #000,
            -1.6px 1.6px 0 #000,
            1.6px 1.6px 0 #000;
          display: inline-block;
          letter-spacing: 2px;
          color: var(--second-color);
          // -webkit-text-fill-color: var(--second-color);
          // -webkit-text-stroke: 4px black;
          // paint-order: stroke fill;
        }
      }
    }

    .info-wrapper {
      display: flex;
      flex-wrap: wrap;
      border-radius: 20px;

      .my-info {
        position: relative;
        width: 50%;
        display: block;
        margin-top: 20px;
        font-weight: bold;
        text-wrap: nowrap;
        font-size: 14px;
        line-height: 20px;

        &:nth-child(1) {
          &::before {
            font-family: ArialBlack;
            position: relative;
            display: block;
            top: 0;
            left: 0;
            padding: 1px 60px 1px 10px;
            margin-bottom: 5px;
            font-size: 1.2em;
            width: fit-content;
            background-color: var(--primary-color);
            color: var(--second-color);
            content: "Birth";
            text-transform: uppercase;
          }
        }

        &:nth-child(2) {
          &::before {
            font-family: ArialBlack;
            position: relative;
            display: block;
            top: 0;
            left: 0;
            padding: 1px 60px 1px 10px;
            margin-bottom: 5px;
            font-size: 1.2em;
            background-color: var(--primary-color);
            color: var(--second-color);
            content: "Nationality";
            text-transform: uppercase;
          }
        }

        &:nth-child(3) {
          &::before {
            font-family: ArialBlack;
            position: relative;
            display: block;
            top: 0;
            left: 0;
            padding: 1px 60px 1px 10px;
            margin-bottom: 5px;
            font-size: 1.2em;
            background-color: var(--primary-color);
            color: var(--second-color);
            content: "Contact";
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .introduction-section {
    background-color: white;
    padding: 1em;
    text-align: center;
    margin-top: 24px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      border-bottom: 2px dotted black;
      width: 90%;
      transform: translateX(-50%);
      top: -26px;
      left: 50%;
    }

    #tape-1,
    #tape-2 {
      position: absolute;
      width: 35px;
    }

    #tape-1 {
      bottom: -80px;
      right: 0;
      transform: rotate(-50deg);
    }

    #tape-2 {
      top: -20px;
      left: -0.5em;
      transform: rotate(50deg);
    }

    .intro-title-wrapper {
      font-size: 21px;
      position: relative;
      font-family: etg;
      letter-spacing: 2px;

      &::after {
        display: block;
        position: relative;
        content: "Multimedia Designer";
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        top: 5px;
        padding: 5px 20px;
        background-color: var(--second-color);
        width: fit-content;
        margin: auto;
      }
    }

    p {
      margin: 1.2em 0.5em;
      text-align: justify;
      text-align-last: center;
    }
  }

  .button-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    position: relative;

    button {
      width: calc(48%);
      height: 40px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid gray;
    }

    #experience-skills {
      background-color: transparent;
      border: 3px solid var(--primary-color);
    }

    #portfolio {
      background-color: var(--primary-color);
      border: 3px solid var(--primary-color);
      color: white;
    }
  }

  .button-holder-2 {
    width: 100%;
    margin: auto;
    position: absolute;
    z-index: 99;
    display: flex;
    gap: 15px;
    bottom: 20px;
    left: 0;
    padding: 0px 20px;
    box-sizing: border-box;
    justify-content: center;

    button {
      width: 50%;
      height: 40px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid gray;
      background-color: var(--primary-color);
      color: lightgray;
    }

    #portfolio {
      background-color: var(--second-color);
      a {
        color: black;
      }
    }

    #skill-set,
    #experience {
      z-index: 99;
      bottom: 0;
    }
  }
}
